@model TodoApi.Models.TodoItem

@{
    ViewData["Title"] = "AddArtist";
}

<h1>AddArtist</h1>

<h4>TodoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddArtist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="hidden">
                <label asp-for="Artist_ID" class="control-label"></label>
                <input asp-for="Artist_ID" class="form-control" />
                <span asp-validation-for="Artist_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Namn_Artist" class="control-label"></label>
                <input asp-for="Namn_Artist" class="form-control" />
                <span asp-validation-for="Namn_Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lot_ID" class="control-label"></label>
                <input asp-for="Lot_ID" class="form-control" />
                <span asp-validation-for="Lot_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skivbolag" class="control-label"></label>
                <input asp-for="Skivbolag" class="form-control" />
                <span asp-validation-for="Skivbolag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

